# Deployment Settings
SECRET_KEY=django-insecure-command-center-key-772
DEBUG=True

# Database Configuration
# Default: sqlite:///db.sqlite3
# For PostgreSQL: postgres://USER:PASSWORD@HOST:PORT/NAME
DATABASE_URL=sqlite:///db.sqlite3
